<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ServicioRestMetLife" value="https://services.clmobileappservice.metlife.com/enrolamiento/getsettingdata" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClaveServicioMetLife" value="AP1093201" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UsuarioServicioMetLife" value="fUXx8ubr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      En el siguiente ejemplo, la transformación de "Replace" reemplazará toda la sección de
      <customErrors> del archivo Web.config.
      Tenga en cuenta que dado que solo hay una sesión customErrors en el nodo 
      <system.web>, no es necesario usar el atributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
